body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ccc;
}

.principal{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;   
}

.conteudo{
    margin: 100px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}
.conteudo h1{
    font-size: 56px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    margin-bottom: 0;
}
.conteudo p{
    
}